@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom CSS rules go here */
body {
  height: "full";

  background: rgb(221, 255, 225);
}

*/ code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
