@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom CSS rules go here */
body {
  height: "full";

  background: rgb(159, 204, 181);
  background: linear-gradient(
    249deg,
    rgba(159, 204, 181, 1) 0%,
    rgba(235, 201, 255, 1) 15%,
    rgba(103, 255, 178, 1) 24%,
    rgba(214, 205, 255, 1) 35%,
    rgba(136, 255, 194, 1) 49%,
    rgba(210, 255, 180, 1) 58%,
    rgba(250, 227, 255, 1) 83%,
    rgba(73, 255, 251, 1) 95%
  );
}

*/ code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
